{% extends "groups/group_base.html" %}

{% block pregroup %}

<!--call group.names field from groups model-->
<h1>{{group.name}}</h1>
<!--call group.members field from groups model. Count these-->
<h2>Member Count: {{group.members.count}}</h2>
<!--add leave or join button. If the user is a group member, give option to leave the group-->
<!--slug used to handle spaces-->
{% if user in group.members.all %}
    <a href="{% url 'groups:leave' slug=group.slug %}"
      class='btn btn-lg btn-fill btn-warning'><span
      class='glyphicon glyphicon-remove-circle'></span>Leave</a>
<!--if not in a group show option to join-->
{% else %}
    <a href="{% url 'groups:join' slug=group.slug %}"
      class='btn btn-lg btn-fill btn-warning'><span
      class='glyphicon glyphicon-ok-circle'></span>Join</a>

{% endif%}

{% endblock %}

{% block group_content %}

<div class="col-md-8">
  <!--if theres no posts show no posts message-->
  {% if group.posts.count == 0 %}
      <h2>No posts in the group yet!</h2>
  {% else %}
  <!--else show all of the posts in the group (_post.html)-->
    {% for post in group.posts.all %}
        <!-- use include to inject a html file to show the posts. include is similar to extends -->
        {% include "posts/_post.html" %}
    {% endfor %}
  {% endif %}

</div>

{% endblock %}
